@import './sidebar.css';
@import './dashboard.css'; 
@import './Announcements.css';
@import './Complaints.css';
@import './UserRecords.css';
@import './AuditLog.css';
@import './ReportAnalytics.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root {
  --sidebar-width: 15rem;
}

.main-content {
  margin-left: 15rem;
  width: calc(100% - 15rem);
  min-height: 100vh;
  box-sizing: border-box;
}

.main {
  margin-left: 15rem;
  width: calc(100% - 15rem);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

